/* CSS code for styling a form wrapper */

/* Importing the Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap);

/* Resetting margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* Styling for the body and html elements */
body,
html {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url(../images/gbb.png);
}

/* Styling for the text selection */
::selection {
  color: #cdc06fcd;
}

/* Styling for the form wrapper */
.wrapper {
  margin-bottom: 15%;
  margin-top: 0;
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styling for the title */
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #cdc06fcd;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-image: url(../images/bgg.png);
}

/* Styling for the form */
.wrapper form {
  padding: 10px 30px 50px 30px;
}

/* Styling for the form field */
.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

/* Styling for the form input */
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: 0;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 25px;
  transition: all 0.3s ease;
}

/* Styling for the focused form input or the valid form input */
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #000;
}

/* Styling for the form label */
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* Styles for website form */
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0;
  font-size: 16px;
  color: #000;
  background: #fff;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .field input[type=submit] {
  color: #cdc06fcd;
  border: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-image: url(../images/bgg.png);
  transition: all .3s ease;
}



form .field input[type=submit]:active {
  transform: scale(.95);
}

form .field input[type=submit]:hover {
  color: #fff5b6cd;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.wrapper form .field .buttons {
  margin-top: 30px;
  text-align: center;
}

.wrapper form .field .profile-button {
  height: 100%;
  width: 100%;
  outline: 0;
  font-size: 17px;
  padding: 10px 0px 10px 0px;
  border: none;
  color: #cdc06fcd;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s ease;
  background-image: url(../images/bgg.png);
}


.wrapper form .field .profile-button:active {
  transform: scale(.95);
}

.wrapper form .field .profile-button:hover {
  color: #fff5b6cd;
}

.wrapper form .field .cancel-button:hover {
  color: #665f2fcd;
}

.wrapper form .field .cancel-button {
  color: #233227;
  font-size: 13.5px;
  margin-top: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 13px;
}



/* Styles for website header */
header {
  position: top;
  width: 100%;
  background: url(../images/bgg.png) no-repeat fixed;
  background-size: cover;
  margin-bottom: 9%;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

nav a {
  font-size: 1.7rem;
  text-decoration: none;
}

nav a#logo {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 20%;
  font-weight: 800;
  margin-bottom: 5px;
}

nav #logo img {
  height: 70px;
  margin-right: 13px;
  margin-bottom: 10px;
}

#title-logo {
  display: inline-block;
  color: #84842c;
  font-size: 30px;
  margin-bottom: 10px;
}

h1 {
  font-size: 4rem;
}

/* Responsive media queries */
@media only screen and (max-width: 991px) {
html {
  font-size: 56.25%;
}

header {
  padding: 2.2rem 5rem;
}
}

@media only screen and (max-width: 767px) {
html {
  font-size: 50%;
}

nav a#logo {
  font-size: 3.2rem;
}
}

@media only screen and (max-width: 575px) {
html {
  font-size: 46.87%;
}

header {
  padding: 2rem 3rem;
}
}