
    .add-order-button {
        display: inline-block;
        background-color: #4c4c20;
        color: white;
        border: none;
        padding: 10px 30px 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        font-size: 1rem;
        text-decoration: none;
        margin-left: auto;
        height: fit-content;
        margin-top: 15px;
    }

    .add-order-button:hover {
        background-color: #84842c;
    }

    .order-add-button{
        display: block;
        margin: 0 auto;
        background-color: #4c4c20;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        font-size: 1rem;
        text-decoration: none;
        margin-top: 15px;
    
        
    }
        
    .order-add-button:hover {
        background-color: #84842c;
    }

    .main-content {
        margin-left: 3rem;
        margin-right: 3rem;
        padding-top: 10px;
    }

    main {
        padding: 1.5rem;
        min-height: calc(100vh - 70px);
    }

    .page-header {
        display: flex;
        justify-content: space-between;
    }

    .page-header h1 {
        font-size: 3.5rem;
    }

    .page-header small {
        font-size: 1.2rem;
    }

    .order-form {
        margin-top: 20px;
        padding: 20px;
        background-color: #f3f3f3a3;
        border-radius: 5px;
        position: relative;
    }

    .remove-button {
        background-color: #ff4f4f;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        font-size: 0.8rem;
        text-decoration: none;
        position: absolute;
        top: 30px;
        right: 10px;
        transform: translate(-50%, -50%);
    }

    .remove-button:hover {
        background-color: darkred;
    }

    .order-form label {
        display: block;
        margin-bottom: 10px;
    }

    .order-form input[type="text"],    .order-form input[type="number"],
    .order-form select {
        width: 100%;
        padding: 8px;
        background-color: #d6d6d687;
        border: 1px solid #d6d6d687;
        border-color: darkgray;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .order-form .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .order-form .form-row label {
        flex: 0 0 100%;
    }

    .order-form .form-row input[type="text"],    .order-form .form-row input[type="number"],
    .order-form .form-row select {
        flex: 1 1 50%;
        margin-right: 10px;
    }
